:root {
    --background: #2D3185;
    --accent: #d4dcee;
    --white: #ffffff;
    --black: #000000;
    --p-size: 1rem;
    --h1-size: 2rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

.bg-primary-custom {
    background-color: var(--background) !important;
}

.bg-accent {
    background-color: var(--accent);
}

.text-primary-color {
    color: var(--background) !important;
}

.list li {
    list-style: none;
    gap: 0.75rem;
}

.list a {
    text-decoration: none;
    color: var(--background) !important;
}

.list li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 5;
    padding: 0 5;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
}

.main input, select {
    font-size: 1rem;
    padding: 0.2rem;
    max-width: 10rem !important;
}

.main .gpaCredits {
    max-width: 10rem !important;
}

@media (max-width: 650px) {
    .logo {
        width: 200px !important;
    }
    li {
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }

    .list-container {
        display: block !important;
        justify-content: start;
        align-items: center;
    }

    label {
        font-size: 1rem;
    }

    .main {
        padding: 1rem 5rem;
    }

    .main select, .main input {
        padding: 0.2rem;
        font-size: 0.8rem;
    }
    .main select {
        margin-left: 1rem;
    }


    .main .gpaCredits {
        max-width: 10rem !important;
        margin-top: 0.4rem;
    }

    h1 {
        font-size: 1.2rem;
    }
    .gpaFlex {
        gap: 1rem;
        padding: 1rem;
    }

    .gpaFlex h1 {
        padding-left: 1rem;
    }

    .logo {
        margin: 0 auto;
    } 
}