:root {
    --background: #2D3185;
    --accent: #d4dcee;
    --white: #ffffff;
    --black: #000000;
    --p-size: 1rem;
    --h1-size: 2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 0.99rem;
}

.bg-primary-custom {
    background-color: var(--background) !important;
}

.bg-accent {
    background-color: var(--accent);
}

.text-primary-color {
    color: var(--background) !important;
}

.navbar a {
    color: var(--background);
    font-size: 0.9rem;
}

.navbar a:hover {
    text-decoration: underline;
}

.list li {
    list-style: none;
    gap: 0.75rem;
}

.list a {
    text-decoration: none;
    color: var(--background) !important;
}

.list li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 5;
    padding: 0 5;
}

.current-credits-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    max-width: 45rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 7.2rem;
}

.main input, select {
    font-size: 1rem;
    padding: 0.2rem;
    max-width: 10rem !important;
}

.main .gpaCredits {
    max-width: 10rem !important;
}

.show {
    display: block;
}

@media (max-width: 650px) {
    .logo {
        width: 180px !important;
    }
    li {
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }

    .list-container {
        display: block !important;
        justify-content: start;
        align-items: center;
    }

    .current-credits-container {
        gap: 4rem;
        max-width: 100%;
    }

    .current-credits-container input {
        max-width: 8rem;
    }

    label {
        font-size: 1rem;
    }

    .main {
        padding: 1rem 5rem;
    }

    .main select, .main input {
        padding: 0.1rem;
        font-size: 1rem;
    }
    .main select {
        margin-left: 1rem;
    }

    .gpaFormDiv {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .main .gpaCredits {
        margin-top: 0.4rem;
    }

    h1 {
        font-size: 1.2rem;
    }
    .gpaFlex {
        gap: 1rem;
        padding: 1rem;
    }

    .gpaFlex h1 {
        padding-left: 1rem;
    }

    .logo {
        margin: 0 auto;
    } 
}

@media (min-width: 1800px) {
    .semeseter-gpa-container {
        margin-top: 4rem;
    }

    .current-credits-container {
        min-width: 50rem;
        padding: 2.5rem 1rem;
    }

    .main {
        padding-bottom: 19.5rem;
    }
}